# App
DEBUG=false
PORT=8003

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pra_db
DB_USER=postgres
DB_PASSWORD=postgres

# JWT (mismo secreto compartido)
JWT_SECRET_KEY=cambia-esta-clave-secreta-en-produccion
JWT_ALGORITHM=HS256

# URLs internas (dentro de la VPC en AWS)
EMPLEOS_SERVICE_URL=http://localhost:8001
POSTULACIONES_SERVICE_URL=http://localhost:8002

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET_NAME=emplea-humboldt-docs
